-*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
custom.el
.ido.last
transient/
url/
bookmarks
eshell/
backup/
auto-save-list
projectile-bookmarks.eld
ido.last
.recentf
.cache/smudge/token
.cache/treemacs-persist
.lsp-session-v1
.mc-lists.el
.org-id-locations
diary
org-roam.db
projectile.cache
request/curl-cookie-jar
